$bg: #fff;
$fg: #222;
$highlight: #ddd;

$link: #006080;
$linkactive: #004961;

$info: #33c;
$required: #f00;
$error: #c33;
$warn: #c63;

/* form */
$fieldsetborder: #eee;
$legendbg: #efefef;
$legendfg: #000;

$buttonborder: #222;
$buttonbg: #eee;
$buttonfg: #222;
$buttonbgactive: #222;
$buttonfgactive: #fff;
$buttonborderactive: #000;

/* navigation */
$navbg: #333;
$navborder: #1a1a1a;
$navfg: #fff;

/* footer */
$footerbg:#ecfaff;
$footerfg: #333;
$footerborder: #d8d8d8;